---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign pubs = site.data.publications.entries | sort: 'date' | reverse %}

{% for category in site.publication_category %}
  {% assign title_shown = false %}
  {% for pub in pubs %}
    {% if pub.category != category[0] %}
      {% continue %}
    {% endif %}
    {% unless title_shown %}
      <h2>{{ category[1].title }}</h2><hr />
      {% assign title_shown = true %}
    {% endunless %}
    {% include publication-entry.html pub=pub %}
  {% endfor %}
{% endfor %}
