---
layout: section
title: "Publications"
permalink: /publications/
---

{% include base_path %}

{% if site.author.googlescholar %}
  <p class="prose__lede">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</p>
{% endif %}

{% assign pubs = site.data.publications.entries | sort: 'date' | reverse %}

{% for category in site.publication_category %}
  {% assign title_shown = false %}
  {% for pub in pubs %}
    {% if pub.category != category[0] %}
      {% continue %}
    {% endif %}
    {% unless title_shown %}
      <h2 class="section-heading">{{ category[1].title }}</h2>
      <div class="card-grid">
      {% assign title_shown = true %}
    {% endunless %}
    {% include publication-entry.html pub=pub %}
  {% endfor %}
  {% if title_shown %}</div>{% endif %}
{% endfor %}
