<article class="card">
  <h3 class="card__title">
    {% if include.project.link and include.project.link != "" %}
      <a href="{{ include.project.link }}">{{ include.project.title }}</a>
    {% else %}
      {{ include.project.title }}
    {% endif %}
  </h3>
  {% if include.project.period %}<p class="card__meta">{{ include.project.period }}</p>{% endif %}
  {% if include.project.summary %}<p class="card__body">{{ include.project.summary | markdownify }}</p>{% endif %}
  {% if include.project.details %}
    <ul class="card__list">
      {% for detail in include.project.details %}
        <li>{{ detail }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if include.project.link and include.project.link != "" %}
    <a class="card__link" href="{{ include.project.link }}">{{ include.project.link_text | default: "Read more" }}</a>
  {% endif %}
</article>
